.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 180px;
  padding-left: 40px;
  image{
    width: 268px;
    height: 80px;
  }
}
.quick-login{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #EC294F;
  padding: 20px 30px;
  color: #F8F8F8;
  font-size: 30px;
  width: 640px;
  border-radius: 20px;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
}
.phone-login{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FD5F00;
  padding: 30px 30px;
  color: #F8F8F8;
  font-size: 30px;
  width: 640px;
  border-radius:20px;
  text-align: center;
  margin: 0 auto;
  margin-top: 40px;
}
.other-login{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #E9E8EA;
  padding: 30px 30px;
  color: #565466;
  font-size: 30px;
  width: 640px;
  border-radius:20px;
  text-align: center;
  margin: 0 auto;
  margin-top: 40px;
}
.title{
  font-size: 28px;
  padding-left: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #565466;
  text-align: center;
}
.quick-title{
  font-size: 28px;
  padding-left: 40px;
  padding-top: 30px;
  color: #3333;
}
.get-code{
  color: #9A9AA5;
  font-size: 30px;
  width: 210px;
  &:hover{
    color: #FD5F00;
  }
}
.login-form{
  box-shadow: none;
  background: #FFFFFF;
  margin-top: 60px;
  font-size: 30px;
  .nut-cell-group__wrap{
    box-shadow: none;
    padding: 0 20px;
  }
}
.nut-input .input-text,.nut-cell__title{
  font-size: 30px;
}
.nut-form-item__body__slots{
  display: flex;
  padding-right: 18px;
}
.quick-argen{
  padding-left: 40px;
  padding-top: 50px;
  display: flex;
}
.agreement{
  color: #FD5F00;
}
.nut-icon-checked{
  color: #FD5F00;
}
.nut-checkbox__label{
  display: flex;
  margin-left: 5px;
}