.delete{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FD5F00;
  padding: 20px 30px;
  color: #F8F8F8;
  font-size: 30px;
  width: 640px;
  border-radius:20px;
  text-align: center;
  margin: 0 auto;
  margin-top: 40px;
}
.nut-dialog{
  .nut-dialog__header{
    font-size: 28px;
    font-weight: bold;
  }
  .nut-dialog__footer{
    .nut-dialog__footer-ok{
      background: #6C6BFC;
    }
    .nut-dialog__footer-cancel{
      background: #FFFFFF;
      border: 1px solid #6C6BFC;
      color: #6C6BFC;
    }
  }
}
.nut-cell__value{
  padding-right: 10px;
}
.vip-icon-wei{
  position: absolute;
  top: -110rpx;
  width: 40rpx;
  left: 80px;
}
.vip-icon-icon{
  position: absolute;
  top: -110rpx;
  width: 40rpx;
  left: 90px;
}
.vip-icon-water{
  position: absolute;
  top: -110rpx;
  width: 40rpx;
  left: 80px;
}
.vip-icon-language{
  position: absolute;
  top: -110rpx;
  width: 40rpx;
  left: 60px;
}