.delete{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FD5F00;
  padding: 20px 30px;
  color: #F8F8F8;
  font-size: 30px;
  width: 640px;
  border-radius:20px;
  text-align: center;
  margin: 0 auto;
  margin-top: 40px;
}
