.home-search-wrap{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: relative;
  .home-search-input{
    width: 85%;
    height: 80px;
    color: black;
    background: #F8F8F8;
    padding-left: 60px;
  }
  .nut-icon-search{
    position: absolute;
    left: 40px;
    top: 50px;
    background: #ABABAB;
  }
  .icon{
    position: absolute;
    right: 0px;
    top: 30px;
    .icon-img{
      width: 20px;
    }
  }
}
.home-content{
  border-radius: 15px;
  position: relative;
  margin-top: -10px;
  background: #fff;
}
.home-tabs .nut-tabs__list{
  background: #ffffff;
  font-size: 30px;
  padding: 10px 0;
  .active{
    font-size: 36px;
    &::before{
      content: '';
      width: 50px;
      height: 16px;
      background: linear-gradient(270deg, #AE48F1, #6C6BFC);
      border-radius: 8px;
      position: absolute;
      top: 40rpx;
      right: 20rpx;
    }
  }
}

.list_box{  display: flex; flex-wrap: wrap;margin-top: 50px;}
.list_box .item{width: 50%;}
.list_box .list{ margin: 0px 15px}
.list_box .list .list_pic{position: relative; padding-top: 100%;overflow: hidden;width: 100%}
.list_box .list .list_pic .pic{width: 100%; height: 100%; position: absolute; top: 0; left: 0}
.list_box .list .list_pic .pic image{
  width: 100%; height: 100%}
.list_box{
  .item_bt{
    margin-top: 29px;
    margin-bottom: 21px;
    font-size: 30px;
  }
  .item-description{
    display: flex;
    font-size: 24px;
    margin-bottom: 10px;
    .item-description-text{
      max-width: 70%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-right: 10px;
    }
    .item-thumb{
      display: flex;
      justify-content: space-around;
      .item-count{
        max-width: 30px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-left: 5px;
      }
    }
  }

}
.home-swiper{
  position: relative;
}