.home-search{
  border: 1px solid #fafafa;
  border-radius: 4px;
  background: gainsboro;
}
.home-search-wrap{
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.home-content{
  padding: 10px;
}
.home-tabs .nut-tabs__list{
  padding: 10px 0;
}
