.home-search-wrap{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  .nut-searchbar__search-input{
    width: 50%;
    height: 50px;
    border-radius: 30px;
    border: 1px solid #ccc;
    color: black;
  }
}
.home-content{
  padding: 10px;
}
.home-tabs .nut-tabs__list{
  padding: 10px 0;
}
